.employee-view {
  padding-right: 3%;
  padding-left: 3%
}

/*.buttons {
  width: 500px;
  display: flex;
  flex-direction: space-around
}*/

.option-buttons {
  width: 800px;
  margin: auto
}
.margin-right {
  margin: 13px 12px 12px 10px;
}

navbar-brand {
  font-size: 200px;
}
